body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #445864;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.calculator-wrapper {
    display: flex;
}

.calculator-title {
    padding: 30px;
    color: #ffffff;
}

.calculator-title h1 {
    font-size: 4rem;
    margin-left: 20px;
    padding: 30px;
    color: #ffffff;
}

.calculator-title span {
    color: #8ccaef;
}

.calculator-container {
    color: #8ccaef;
    width: 100%;
    min-height: 497px;
    background-color: #4e5c65;
    margin: 30px;
    box-shadow: 0 0 15px #464646;
    border-radius: 10px;
    padding: 25px; 
}

h6 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    height: 1.8rem;
    width: 90%;
    background: #445864;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 20px;
}

.inputs-block {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.inputs-block-column {
    margin-right: 30px;
    max-width: 255px;
}

.inputs-block-column:last-child {
    margin-left: 10px;
    margin-right: 0;
    max-width: 100%;
}

.inputs-wrapper {
     margin-top: 30px;
}

.inputs-wrapper input {
    color: #c4e3f8;
    font-size: 18px;
    margin-bottom: 20px;
}

.inputs-wrapper input:last-child {
    margin-bottom: 0px;
}

.total-numb {
    margin-bottom: 20px;
}

.total-numb:last-child {
    margin-bottom: 0px;
}

.total-numb h6 {
    margin-bottom: 10px;
}

.total-numb input{
    font-weight: 600;
    font-size: 35px;
    line-height: 55px;
    letter-spacing: 0.03em;
    color: #c4e3f8;
    background-color: transparent;
    box-shadow: none;
    padding-left: 0;
}

#accumulation,#spend{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #c4e3f8;
}

.range-block {
    max-width: 592px;
    margin-bottom: 40px;
}

.range-block h6{
    margin-bottom: 20px;
}

#slider-range {
    height: 2px;
    background-color: #D1D1D1;
    border: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    top: -9px;
    outline: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default:hover {
    border: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default:active {
    background-color: #FFFFFF;
}

.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
    background-color: #464646;
}

.slider-range-result {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.result-block {
    display: flex;
    width: 389px;
    justify-content: space-between;
}

.result-block .total-numb{
    display: flex;
    align-items: baseline;
}

.result-block .total-numb h6{
    margin-right: 10px;
}

.result-block .total-numb span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
}

@media (max-width: 1023px) {
    .calculator-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .calculator-title {
        margin-left: 0px;
        padding: 0px;
        color: #ffffff;
    }
    .calculator-title h1 {
        text-align: left;
        font-size: 4rem;
    }
    .calculator-container {
        width: 90%;
    }
}

@media (max-width: 600px) {
    h6 {
        margin-top: 25px;
    }
    .calculator-title h1 {
        font-size: 3rem;
    }
    .inputs-block {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    .inputs-block-column {
        margin: 0px;
    }
}